.review-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 0px;
    @media screen and (max-width: 1220px) {
        gap: 2rem;

    }
    @media screen and (max-width: 650px) {
        gap: 1rem;

    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .flex-text {
            display: flex;
            gap: .5rem;
            align-items: center;

            div {
                width: 40px;
                height: 3px;
                background-color: var(--primary-color);
            }

            h3 {
                font-size: 20px;
                font-weight: 700 !important;
                color: var(--primary-color);
            }

        }

        .data {
            h4 {
                font-size: 50px !important;

                @media screen and (max-width:1200px) {
                    font-size: 42px !important;
                }
                @media screen and (max-width: 650px) {
                    font-size: 25px !important;
                }

                span {
                    color: var(--primary-color);
                }
            }
        }
    }

    .review {
        img {
            width: 400px;
            height: 220px;

            @media screen and (max-width:1200px) {
                width: 360px;
                height: 190px;
            }
            @media screen and (max-width: 650px) {
                width: 250px;
                height: 150px;
            }
        }
    }

    .review-button {

        // margin-top: 2rem;
        a {
            font-size: 16px;
            font-weight: 700;
            padding: 15px 35px;
            color: #fff;
            border: 2px solid var(--primary-color);
            background-color: var(--primary-color) !important;
            border-radius: 3px;

        }
    }


    .flex-testimonial {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.2rem;
        padding: 1.2rem 0px;
        @media screen and (max-width: 990px) {
            display: flex;
            flex-direction: column;
        }
            @media screen and (max-width:650px) {
                padding: 1.2rem 20px;

            }


        .testimonail-card {
            display: flex;
            flex-direction: column;
            gap: .9rem;
            box-shadow: 0px 0px 5px 0px rgb(161 163 164);
            border: 1px solid #d2d2dc;
            border-radius: 11px;
            padding: 1.2rem 20px;
            min-height: 330px;
            

            .icon {
                color: var(--primary-color);
                font-size: 25px;
                margin-top: 5px;

            }

            .border {
                border-bottom: 1px solid rgb(227, 229, 230);
                height: 1px;
            }

            .profile {
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    height: 60px;
                    width: 50px;
                }

                .data {
                    margin-top: 10px;

                    h5 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 11px;
                        margin-top: 3px;
                    }
                }

            }
        }

    }

}